body {
	background-color: #2c2b2a;
	color: black;
	overflow-x: hidden;
}

#cooper {
	width: 100%;
}

.hi {
	padding-left: 10% !important;
	font-family: adobe-gothic-std, sans-serif;
	font-weight: 700;
	font-style: normal;
	color: black;
}

.photography-div {
	opacity: 0;
}

.photography-title {
	font-size: 100px;
	padding-top: 100px;
	font-family: adobe-gothic-std, sans-serif;
	font-weight: 700;
	font-style: normal;
}

#parallax-container {
	display: block;
	height: 750px;
	/* This height can be adjusted here and below */
}

#parallax-container div {
	position: absolute;
	top: 0;
	background-position: center !important;
	transform: translateY(0px);
	height: 750px;
	/* Keep this the same height as above */
	width: 100%;
}

#content {
	position: relative;
}

.fade {
	position: relative;
	bottom: 4em;
	height: 4em;
	background: -webkit-linear-gradient(rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 1) 100%);
	background-image: -moz-linear-gradient(rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 1) 100%);
	background-image: -o-linear-gradient(rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 1) 100%);
	background-image: linear-gradient(rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 1) 100%);
	background-image: -ms-linear-gradient(rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 1) 100%);
}